{{ if and .IsPage .Params.recipe }}
{{ $r := .Params.recipe }}
{{ $jsonld := dict
  "@context" "https://schema.org/"
  "@type" "Recipe"
  "name" .Title
  "description" .Description
  "datePublished" (.Date.Format "2006-01-02")
  "author" (dict "@type" "Person" "name" "Amir")
  "prepTime" (print "PT" $r.prep_time_minutes "M")
  "cookTime" (print "PT" $r.cook_time_minutes "M")
  "totalTime" (print "PT" (math.Add $r.prep_time_minutes $r.cook_time_minutes) "M")
  "recipeYield" $r.yield
  "recipeCuisine" $r.cuisine
  "url" .Permalink
}}
{{ $images := .Resources.ByType "image" }}
{{ $feature := $images.GetMatch "*feature*" }}
{{ with $feature }}{{ $jsonld = merge $jsonld (dict "image" .Permalink) }}{{ end }}
{{ if .Params.tags }}{{ $kw := "" }}{{ range $i, $tag := .Params.tags }}{{ if $i }}{{ $kw = print $kw ", " $tag }}{{ else }}{{ $kw = print $tag }}{{ end }}{{ end }}{{ $jsonld = merge $jsonld (dict "keywords" $kw) }}{{ end }}
{{ with $r.category }}{{ $jsonld = merge $jsonld (dict "recipeCategory" .) }}{{ end }}
{{ with $r.ingredients }}{{ $jsonld = merge $jsonld (dict "recipeIngredient" .) }}{{ end }}
<script type="application/ld+json">{{ $jsonld | jsonify | safeJS }}</script>
{{ end }}
